.card {
    display: flex;
    object-fit: cover;
    border: 1px solid black;
    width: 140px;
    height: 190px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-image: none;
}
.card:hover {
    cursor:pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.cardName {
text-align: center;
font-size: 20px;
}
.cardImage {
    margin-left: 15%;
}

.cardType {
color: black;
}

.cards {
    margin: 0;
    padding: 5px;
    width: 15%;
}
.cardTypes{
    display: block !important;
    color: white;
    text-align: center;

}  
.card:hover {
    cursor:pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.cardName {
display: block !important;
text-align: center;
font-size: 20px;
}
.cardImage {
    display: block !important;
    margin-left: 15%;
}
.cardType {
    display: flex !important;
    justify-content: center;
    color: black;
}
.cards {
    margin: 0;
    padding: 5px;
    width: 15%;
}
.player1Scores, .player2Scores, .player3Scores, .player4Scores{
    background-color: rgba(255, 255, 255);
    width: fit-content;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
}

.player1Scores {
    position: absolute;
    top: 10%;
    right: 5%;
}
.player2Scores {
    position: absolute;
    top: 20%;
    right: 5%;
}
.player3Scores {
    position: absolute;
    top: 30%;
    right: 5%;
}
.player4Scores {
    position: absolute;
    top: 40%;
    right: 5%;

}

.selected {
    border: 3px solid gold;
}
.flip {
    transform: rotateY(360deg);
}
.cardNameHidden {
    display: none;

}
.cardImageHidden {
    display: none;

}
.cardTypesHidden {
    display: none;
}
.cardTypeHidden {
    display: none;
}