/* Was overwriting my styles section so i commented it out for now -JD */
/* .card{
    background-image:url(../images/CardGreenFront.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 150px;
}
.cardName{
    
}
.cardImage{
    position: absolute;
    left: -10px;
    top: 50px;
}
.cardTypes{
    position: absolute;
    left: 3px;
    bottom: 0px;
    color: white;
    text-align: center;
}  */